.task-sections {
    margin-top: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
}


.task-section {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

.task-section h2 {
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.task {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task h3 {
    margin: 0;
    color: #333;
    font-size: 18px;
}

.desc{
    font-family: cursive;
    font-weight: 550;
}

.task p {
    margin: 3px 0;
    color: #555;
    font-size: 14px;
}

.due-priority {
    display: flex; 
    justify-content:left; 
    margin-bottom: 2px; 
}
  
.due-priority p {
    font-size: 13px;
    margin-top: 2px;
}
.prior{
    margin-left:10% !important;
}

.task-buttons {
    flex-direction: row; 
    margin-top: 10px;
}


.complete_button {
    margin: 0 10%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding:7px;
    font-size: 15px;
    cursor:pointer;
    margin-left: 13%;
}
.complete_button:hover{
    border: solid black 1px;
}

.edit_button {
    margin: 0 10%;
    margin-top: 10px;
    padding:7px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    cursor:pointer;
}
.edit_button:hover{
    border: solid black 1px;
}

.delete_button {
    margin: 0 10%;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding:7px;
    font-size: 15px;
    cursor:pointer;
}
.delete_button:hover{
    border: solid black 1px;
}

.task.low-priority {
    background-color: #a1d1e0df;
}

.task.medium-priority {
background-color: #ffcc99;
}

.task.high-priority {
background-color: #ff9999; 
}
.high-priority {
    border: 2px solid red;
    background-color: #ffdddd;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.1);
}